/* CSS for PROJECT: ETCH-A-SKETCH */
html{
    background: rgb(192,244,255);
    background: linear-gradient(0deg, rgba(192,244,255,1) 0%, rgba(242,253,255,1) 18%, rgba(212,248,255,1) 34%, rgba(87,178,255,1) 60%, rgba(0,48,255,1) 95%);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
}
body{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    color: white;
    justify-content: center;
    letter-spacing: 0.8em;
    text-indent: 0.8em;
}
button{
    background:none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}
button:hover{
    background: rgba(0, 0, 0, 0.3);
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin: 0 0 1rem 0;
}
.column{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.row{
    display: inline-flex;
    flex-direction: row;
    /* width: 60px; */
    /* height: 60px; */
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content{
    width: fit-content;
    height: fit-content;
    min-height: 780px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: rgba(157, 166, 247, 0.3);
    border: 1px solid white;
}